.swiper-container {
    width: 100%;
    height: 300px;
    display: flex; /* use flexbox */
    justify-content: center; /* center the swiper container horizontally */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    height: 66%;
}